.contact-form-left {
  width: 60%;
  background-color: rgb(224, 221, 216);
  border: 2px solid black;
}
.top-title {
  color: red;
}
.main-title i {
  color: red;
}
.title {
  display: inline-block;
}
.about {
  display: inline-block;
  text-align: left;
  margin-left: 80px;
  margin-top: -250px;
}
img {
  width: 210px;
  height: 140px;
  margin-right: 50px;
  padding: 10px;
}
.column-1 {
  display: inline-block;
  border: 5px solid white;
  margin-left: 10px;
  background-color: white;
}
.column-2 {
  display: inline-block;
  border: 5px solid white;
  background-color: white;
}
.column-3 {
  display: inline-block;
  border: 5px solid white;
  background-color: white;
}

.contact-form-right {
  width: 400px;
  height: 450px;
  border: 1px solid black;
  display: inline-block;
  margin-left: 1000px;
  margin-top: -700px;
  padding: 10px;
}
input {
  margin: 10px;
  padding: 18px;
  outline: none;
  border: 1px solid black;
  border-radius: 25px;
}
.input-full {
  width: 80%;
}
span {
  text-decoration: underline;
}
.button {
  background-color: brown;
  color: white;
}
